<div class="bd-example mt-4-5rem">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <picture>
          <source srcset="images/ninios2000.jpg" media="(min-width: 1400px)">
          <source srcset="images/ninios1400.jpg" media="(min-width: 769px)">
          <source srcset="images/ninios800.jpg" media="(min-width: 577px)">
          <img srcset="images/ninios600.jpg" alt="responsive image" class="d-block img-fluid brightness-70">
        </picture>
        <div class="carousel-caption d-block">
          <h1>Colegio Montessori de la Vera Cruz</h1>
          <p class="d-none d-sm-block">Camino Playa de Vacas - Boca del Río No.1366 Medellín de Bravo, Veracruz.</p>
          <a class="btn bg-naranja btn-lg text-light d-inline" href="/mapa">Ver mapa</a>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <source srcset="images/inscripciones2000.png" media="(min-width: 1400px)">
          <source srcset="images/inscripciones1400.png" media="(min-width: 769px)">
          <source srcset="images/inscripciones800.png" media="(min-width: 577px)">
          <img srcset="images/inscripciones600.png" alt="responsive image" class="d-block img-fluid brightness-70">
        </picture>
        <div class="carousel-caption d-block">
          <h1>Inscripciones</h1>
          <p class="d-sm-block">Le agradecemos por considerar ser parte de nuestra Comunidad. Para ofrecerle la
            atención adecuada le pedimos se ponga en contacto con nosotros.</p>
          <a class="btn bg-naranja btn-lg text-light d-inline" href="/inscripciones">¡Inscríbete ya!</a>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <source srcset="images/muro2000.png" media="(min-width: 1400px)">
          <source srcset="images/muro1400.png" media="(min-width: 769px)">
          <source srcset="images/muro800.png" media="(min-width: 577px)">
          <img srcset="images/muro600.png" alt="responsive image" class="d-block img-fluid brightness-70">
        </picture>
        <div class="carousel-caption d-block">
          <h1>¿Que es el método Montessori?</h1>
          <p class="d-none d-sm-block">El método Montessori se caracteriza por proveer un ambiente preparado:
            ordenado, estético, simple, real, donde cada elemento tiene su razón de ser en el desarrollo de los
            niños. El aula Montessori integra edades agrupadas en períodos de 3 años, lo que promueve naturalmente
            la socialización, el respeto y la solidaridad.</p>
          <a class="btn bg-naranja btn-lg text-light d-inline" href="/metodo">Leer más</a>
        </div>
      </div>
      <div class="carousel-item bg-comunicado">
        <div class="carousel-caption d-block plg-5">
          <img src="images/warning.svg" alt="" style="width: 3rem;">
          <h1 class="azul1">COVID-19</h1>
          <h3 class="naranja">Comunicado Colegio Montessori de la Veracruz</h3>
          <a class="btn bg-naranja btn-lg text-light d-inline" href="/comunicado">
            Leer comunicado</a>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/taller">
          <picture>
            <source srcset="images/taller12000.jpg" media="(min-width: 1400px)">
            <source srcset="images/taller11400.jpg" media="(min-width: 769px)">
            <source srcset="images/taller1800.jpg" media="(min-width: 577px)">
            <img srcset="images/taller1600.jpg" alt="responsive image" class="d-block img-fluid">
          </picture>
        </a>
        <div class="carousel-caption d-none d-md-block mb-5">
          <a class="btn bg-naranja btn-lg text-light d-inline" href="/inscripciones">¡Inscríbete ya!</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>