    <a class="whatsapp pl-2 d-md-none" href="https://wa.me/5212291771217?text=Hola!.%20Quisiera%20Infomes" target="_blank">
        <img src="../images/whatsapp.png">
    </a>
    <a class="facebook pl-2 d-md-none" href="http://m.me/montessoridelaveracruz?text='Quisiera Infomes'" target="_blank">
        <img src="../images/Facebook_Messenger_4_Logo.svg">
    </a>