<form id="formulario" onsubmit="updateEmailSubject(event)">  
  <%- (path === '/inscripciones' || path === '/contacto') && isEmailSuccessful ? include('notification.ejs') : '' %>
  <h5 class="naranja">Datos de Contacto</h5>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationNombre">Tu Nombre completo</label>
      <input type="text" class="form-control is-valid" id="validationNombre" name="nombre"
        placeholder="Ej. Tu nombre aquí">
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationTelefono">Teléfono</label>
      <input type="tel" class="form-control is-valid" id="validationTelefono" name="telefono"
        placeholder="Ej.229 555333444">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationEmail">Tu correo electrónico</label>
      <input type="email" class="form-control is-valid" id="validationEmail" name="email"
        placeholder="correo@dominio.com" required>
    </div>
    <div class="col-md-6 mb-3">
      <legend class="col-form-label pt-0">Nivel Educativo</legend>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="nivelEducativo" id="gridRadios1"
          value="Comunidad Infantil (1-3 años)">
        <label id="label1" class="form-check-label" for="gridRadios1">
          Comunidad Infantil (1-3 años)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="nivelEducativo" id="gridRadios2"
          value="Casa de Niños (3-6 años)">
        <label id="label2" class="form-check-label" for="gridRadios2">
          Casa de Niños (3-6 años)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="nivelEducativo" id="gridRadios3"
          value="Taller (6-12 años)">
        <label id="label3" class="form-check-label" for="gridRadios3">
          Taller (6-12 años)
        </label>
      </div>
      <!-- Agregar más opciones de nivel educativo si es necesario -->
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<script>
  function updateEmailSubject(event) {
    event.preventDefault(); // Prevenir el envío predeterminado del formulario

    const form = document.getElementById('formulario');
    const checkboxes = document.querySelectorAll('input[name="nivelEducativo"]:checked');
    const nombre = document.getElementById('validationNombre').value;
    const telefono = document.getElementById('validationTelefono').value;
    const email = document.getElementById('validationEmail').value;

    let subject = 'Consulta sobre ';
    let body = `Nombre: ${nombre}\nTeléfono: ${telefono}\nCorreo Electrónico: ${email}\n\nNiveles Educativos: `;

    checkboxes.forEach((checkbox, index) => {
      subject += checkbox.value;
      body += checkbox.value;
      if (index < checkboxes.length - 1) {
        subject += ', ';
        body += ', ';
      }
    });

    const mailtoLink = `mailto:colegiomontessoriveracruz@gmail.com?subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;
    window.location.href = mailtoLink; // Abrir la aplicación de correo con el enlace mailto
  }
</script>
