<footer class="footer mt-auto py-3 bg-naranja text-light text-center">
  <div class="container">

    <div class="redesSociales pb-3">
      <a href="https://www.facebook.com/montessoridelaveracruz/" target="_blank" class="pr-2">
        <img src="../images/facebook.svg" width="50px" height="50px" target="_blank">
      </a>
      <a href="https://www.instagram.com/colegiomontessoridelaveracruz/?igshid=6efbgg7swuim" target="_blank"
        class="px-2">
        <img src="../images/instagram.svg" width="50px" height="50px">
      </a>
    </div>

    <div>
      <p>Camino Playa de Vacas - Boca del Río No.1366 Medellín de Bravo, Veracruz.<br><br />
        Teléfono: <%- include('../includes/telefono.ejs') %> Email: <a
            href="mailto:colegiomontessoriveracruz@gmail.com">colegiomontessoriveracruz@gmail.com</a>
      </p>

    </div>

    <div class="politicas mx-auto">
      <a class="btn btn-outline-light nav-link px-5 d-block d-md-inline-block" href="/aviso">Aviso de Privacidad</a>
      <a class="btn btn-outline-light nav-link px-5 d-block d-md-inline-block" href="/preguntas">Preguntas
        Frecuentes</a>
      <a class="btn btn-outline-light nav-link px-5 d-block d-md-inline-block" href="/mapa">Ver mapa</a>
    </div>


    <div class="mt-5">
      <p><span>© Copyright <%= currentYear %>
            <%= title %></span></p>
    </div>

  </div>
</footer>